<html>
<head>
<link rel='stylesheet' type='text/css' href='static/default.css'>
<title>latent.space</title>
</head>
<body>
<header>
      <div class="container">
        <h1>latent.space</h1>
        <h2>inference from the observed</h2>

        <section id="links">
          <a href="https://github.com/braingineer/braingineer.github.io" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>
<div id='main_body'>
{{ content }}
</div>
</body>
</html>
