<html>
<head>
<link rel='stylesheet' type='text/css' href='static/alpha1.css'>
<title>latent.space</title>
</head>
<body>
<header>
      <div class="container">
        <h1>latent.space</h1>
        <h2>a blog by brian mcmahan</h2>

        <section id="links" class='infobox'>
          <a href="https://github.com/braingineer/braingineer.github.io" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>
<div id='content'>
{{ content }}
</div>
</body>
</html>
