<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8">
<link rel="stylesheet" href="{{ site.url }}/static/bootstrap.css" />
<link rel="stylesheet" href="{{ site.url }}/static/font-awesome.css" />
<link rel='stylesheet' type='text/css' href='{{ site.url}}/static/alpha1.css'>
<script src="{{ site.url }}/static/jquery-2.2.0.js"></script>
<script src="{{ site.url }}/static/headstuff.js"></script>
<title>latent.space</title>
</head>
<body>
<div style='min-height: 100%; position: relative; padding: 0 0 100px 0;'>

    <!-- HEADER -->
    <header>
      <div class="container">
      <canvas id="space" width="400" height="164"></canvas><br>
      </div>
    </header>

    <div id='menu'><div id='btn-container'>
        <a href="{{ site.url }}" id='home' class='btn'>home</a>
        <a href='http://github.com/braingineer' id='github' class='btn'>github</a>
        <a href='#' id='cv' class='btn'>cv</a>
        <a href='#' id='etc' class='btn'>etc</a>
    </div></div>

<!-- BODY -->

    <div  class='mid post' id='content'>
            <h1 class='title'>
            {{page.title}}
            </h1>

    {{ content }}
    </div>

<!-- footer -->

<div id='tagline'>made by brian mcmahan</div>

</div>
<script>
doit()
</script>
</body>
</html>
